<%= form_for(current_user.active_relationships.build, remote: true) do |f| %> 
<!--the remote: true tell rails to use ajax, which can send request without leaving page-->
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>