<% provide(:title, "test") %>
<%= javascript_include_tag "game_test" %>
<p id="test1">This is a paragraph.</p>
<p id="test2">This is another paragraph.</p>

<p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>

<button id="btn1">Set Text</button>
<button id="btn2">Set HTML</button>
<button id="btn3">Set Value</button>

<canvas id="canvas" width="400" height="200"></canvas>

<!--<script>-->
<!--  $(document).ready(function() {-->
<!--    $("#btn1").click(function() {-->
<!--      $("#test1").text("eee");-->
<!--    });-->
<!--    var ctx = $("#canvas")[0].getContext("2d");-->
<!--    ctx.fillRect(5,5,50,50);-->
<!--  })-->
<!--</script>-->